html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Code below is from CSS Tricks: Sticky Footer */
  display: flex;
  flex-direction: column;

  color: #fcfcfc;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* ------ Background Image ------ */
/* Code below is from CSS Tricks: Background Images and CSS Tricks: Tinted Images*/
.bg-img-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pets/cavapoo-window.jpg");
}

.bg-img-gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/landscapes/belfast-sunrise.jpg");
}

.bg-img-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/events/girl-singing.jpg");
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
}
/* ------ End Background Image ------ */

/* ------ NavBar ------ */
.navbar {
  margin: 20px;
  padding: 0;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar .navbar-brand {
  color: #f2f2f2;
  padding: 10px;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
  color: #fcfcfc;
  padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
  padding: 0 10px 10px;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fffcf2;
}
/* ------ End NavBar ------ */

/* ------ Page Title ------ */
.page-title {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.page-title h1 {
  font-size: 1.9rem;
  margin-bottom: 20px;
  padding: 0 20px;
}
/* ------ End Page Title ------ */

/* ------ Buttons ------ */
.btn-gallery,
.btn-close {
  padding: 15px 30px;
  margin: 20px;
  width: 250px;
  font-weight: 500;
}

.btn-gallery {
  color: #212529;
  background-color: #fcfcfc;
}

.btn-gallery:hover,
.social-links i:hover {
  background-color: #212529;
  color: #fcfcfc;
  transition: 0.15s ease-in-out;
}

.btn-close {
  color: #fcfcfc;
  background-color: #212529;
  margin-bottom: 30px;
}

.btn-close:hover {
  background-color: #c2c2c2;
  color: #fcfcfc;
  transition: 0.15s ease-in-out;
}
/* ------ End Buttons ------ */

/* ------ Gallery Images ------ */
#gallery-top {
  padding: 40px 0;
}

.gallery-btns {
  padding: 20px;
}

.gallery h3 {
  font-size: 2rem;
  color: #212529;
  padding: 40px 0 20px;
  margin: auto;
}

.gallery hr {
  width: 40%;
  border: 1px solid #212529;
  margin-bottom: 40px;
}

.gallery img {
  padding: 15px 0;
}

/* Code below is from MDN tutorials on using the :target selector */
.gallery .container-fluid {
  display: none;
}

.gallery .container-fluid:target {
  display: block;
  background-color: #fcfcfc;
}
/* ------ End Gallery Images ------ */

/* ------ Contact Form ------ */
.contact-container {
  padding: 0 30px;
  letter-spacing: 2.5px;
  font-family: "Raleway", sans-serif;
}

.contact-description h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-description p {
  font-size: 0.9rem;
}

.contact-description i {
  font-size: 1.2rem;
}

.contact-description,
.contact-info {
  text-transform: none;
}

.contact-info {
  margin-top: 20px;
}

.contact-info a {
  color: #fcfcfc;
}

.contact-info span {
  text-decoration: underline;
  font-weight: 700;
}

.contact-form {
  background-color: #fcfcfc;
  color: #212529;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  text-transform: none;
}

.contact-form label {
  font-weight: 700;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form .btn {
  background-color: #212529;
  color: #fcfcfc;
  font-size: 0.9rem;
  padding: 15px 30px;
  font-weight: 500;
  letter-spacing: 5px;
  border: none;
}

.contact-form .btn:hover {
  background-color: #c2c2c2;
}

.form-check .form-check-label {
  font-weight: 500;
}

.form-group,
.form-check {
  margin-bottom: 10px;
}

::placeholder {
  font-size: 0.8rem;
}
/* ------ End Contact Form ------ */

/* ------ About Modal ------ */
.modal-content {
  background-color: #fcfcfc;
  padding: 20px;
}

.modal-header {
  color: #212529;
  border-bottom: none;
  padding: 20px;
}

.modal-body {
  color: #212529;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  padding: 0 20px;
  letter-spacing: 0;
  text-transform: none;
}

.modal-body .about-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn {
  background-color: #212529;
  color: #fcfcfc;
  padding: 15px 30px;
  letter-spacing: 5px;
}

.modal-footer .btn:hover {
  background-color: #c2c2c2;
  border: none;
}
/* ------ End About Modal ------ */

/* ------ Footer/Social Media Links ------ */
.social-links {
  margin: 20px;
  padding: 10px;
  align-self: center;
}

.social-links i {
  color: #212529;
  background-color: #fcfcfc;
  font-size: 1.2rem;
  letter-spacing: 0;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
}
/* ------ End Footer/Social Media Links ------ */

/* ------ Media Queries ------ */
@media screen and (min-width: 813px) and (orientation:landscape) {
  /* For devices larger than tablet and mobile devices*/
  .page-title h1 {
    padding: 0;
  }

  .contact-form {
    margin-top: 0;
    font-size: 1rem;
  }

  .page-title h1,
  .contact-description h1 {
    font-size: 2.5rem;
  }

  .contact-form .btn,
  .contact-description p {
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  .social-links i {
    margin: 0 15px;
    padding: 15px;
  }
}
/* ------ End Media Queries ------ */
