/* ------ Google Fonts ------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* ------ Background Image ------ */
/* Code below is from CSS Tricks: Background Images and CSS Tricks: Tinted Images*/
.bg-img-home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/pets/cavapoo-window.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-img-gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/landscapes/belfast-sunrise.jpg") no-repeat center center
      fixed;
  background-size: cover;
}

.bg-img-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/events/woman-singing.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* ------ End Background Image ------ */

/* ------ NavBar ------ */
.navbar {
  margin: 20px;
  padding: 0;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar .navbar-brand {
  color: #f2f2f2;
  padding: 10px;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
  color: #fcfcfc;
  padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
  padding: 10px;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fffcf2;
}
/* ------ End NavBar ------ */

/* ------ Page Title ------ */
/* Code below is from CSS Tricks: How to Center an Object */
.page-title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
/* ------ End Page Title ------ */

/* ------ Buttons ------ */
.btn-gallery,
.btn-close {
  padding: 15px 30px;
  margin: 20px;
  width: 250px;
  font-weight: 500;
}

.btn-gallery {
  color: #212529;
  background-color: #fcfcfc;
}

.btn-gallery:hover,
.social-links i:hover {
  background-color: #212529;
  color: #fcfcfc;
  transition: 0.15s ease-in-out;
}

.btn-close {
  color: #fcfcfc;
  background-color: #212529;
  margin-bottom: 30px;
}

.btn-close:hover {
  background-color: #c2c2c2;
  color: #fcfcfc;
  transition: 0.15s ease-in-out;
}
/* ------ End Buttons ------ */

/* ------ Gallery Images ------ */
#gallery-top {
  height: 78.5vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.gallery-btns {
  margin-top: 40px;
}

.gallery h3 {
  font-size: 2rem;
  color: #212529;
  padding: 40px 0 20px;
  margin: auto;
}

.gallery hr {
  width: 40%;
  border: 1px solid #212529;
  margin-bottom: 20px;
}

.gallery img {
  padding: 10px;
}

/* Code below is from MDN tutorials on using the :target selector */
.gallery .container-fluid {
  display: none;
}

.gallery .container-fluid:target {
  display: block;
  background-color: #fcfcfc;
}
/* ------ End Gallery Images ------ */

/* ------ Contact Form ------ */
.contact-container {
  padding: 40px 30px;
}

.contact-description {
  width: 60%;
  margin: 0 auto;
}

.contact-description h1 {
  margin-bottom: 20px;
}

.contact-form {
  background-color: #fcfcfc;
  color: #212529;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  padding: 40px;
  text-align: left;
  text-transform: none;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form .btn {
  background-color: #212529;
  color: #fcfcfc;
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 5px;
  border: none;
}

.contact-form .btn:hover {
  background-color: #495057;
}

.form-group,
.form-check {
  margin-bottom: 20px;
}
/* ------ End Contact Form ------ */

/* ------ About Modal ------ */
.modal-content {
  background-color: #fcfcfc;
  padding: 20px;
}

.modal-header {
  color: #212529;
  border-bottom: none;
  padding: 20px;
}

.modal-body {
  color: #212529;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  padding: 0 20px;
  letter-spacing: 0;
  text-transform: none;
}

.modal-body .about-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn {
  background-color: #212529;
  color: #fcfcfc;
  padding: 10px 40px;
}

.modal-footer .btn:hover {
  background-color: #495057;
}
/* ------ End About Modal ------ */

/* ------ Social Media Links ------ */
.social-links {
  margin: 20px;
  padding: 10px;
}

.social-links i {
  color: #212529;
  background-color: #fcfcfc;
  font-size: 1.2rem;
  letter-spacing: 0;
  border-radius: 50%;
  padding: 15px;
  margin: 0 15px;
}
/* ------ End Social Media Links ------ */

/* ------ Media Queries ------ */
@media screen and (max-width: 425px),
  (max-width: 812px) and (orientation: landscape) {
  /* Large Mobile Screen Size - Portrait and Landscape */
  .navbar-dark .navbar-nav .nav-link {
    padding-top: 0;
  }

  .page-title h1 {
    font-size: 2rem; /* Before 2.5rem */
    margin-bottom: 0;
    margin-top: 40px;
  }

  .contact-form {
    margin-top: 20px;
    padding: 30px;
  }

  .contact-container {
      padding-bottom: 0;
  }

  .contact-description {
    width: 100%;
  }

  .contact-description h1 {
    font-size: 2rem; /* Before 2.5rem */
  }
}

@media screen and (max-width: 1024px) {
  #gallery-top {
    width: 60vw;
    margin: 0 auto;
  }
}
/* ------ End Media Queries ------ */
